body {
    display: flex;
}
#info {
    background-color: #EEE;
    border: 2px solid #cfcfcf;
    border-radius: 9px;
    padding: 7px;
    width: 650px;
    height: 300px;
}
text.titles {
    text-transform: capitalize;
}